*.pyc
*.pyo
*.pyd
__pycache__/
*.pkl

venv/
env/
ENV/
.venv/
.virtualenv/

*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

/staticfiles/
/media/
/*.sqlite3
*.pyo
*.log
*.pot

*.env
.env.local
.env.production
.env.development

*.mo
*.swp
**/migrations/**/__pycache__/
**/migrations/*.pyc

*.db
*.sqlite3
*.psql
*.mysql

.idea/
.vscode/

*.DS_Store
*.coverage
*.egg
*.egg-info/
dist/
build/
